/* PRESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 1rem;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1rem;
}

main {
  padding-block: clamp(1rem, 6vw, 3rem);
}

/* THEMES */
section {
  --neutralShade0: #f8f8f8;
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --grayColor: #999;
  --lightGrayColor: #ddd;
  --borderRadius: 6px;
  --boxShadow: 0 2px 5px rgba(#333, 0.2);
  text-align: left;
  color: var(--foregroundColor);
}

#bluepurple + label {
  background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);
}

#bluepurple:checked ~ section {
  --backgroundColor: #fff;
  --foregroundColor: #111;
  --primaryColor: #03a9f4;
  --primaryShade1: #e1f5fe;
  --primaryShade2: #b3e5fc;
  --primaryShade3: #4fc3f7;
  --primaryShade4: #0288d1;
  --primaryShade5: #0277bd;
  --secondaryColor: #673ab7;
  --secondaryShade1: #ede7f6;
  --secondaryShade2: #d1c4e9;
  --secondaryShade3: #9575cd;
  --secondaryShade4: #512da8;
  --secondaryShade5: #311b92;
}

#dark + label {
  background: linear-gradient(to right, #367bc3 50%, #38bfa7 50%);
}

#dark:checked ~ section {
  --backgroundColor: #2a313b;
  --foregroundColor: #ebe8d8;
  --primaryColor: #367bc3;
  --primaryShade5: #b5cfe9;
  --primaryShade4: #91b7de;
  --primaryShade3: #5a93cd;
  --primaryShade2: #3270b2;
  --primaryShade1: #285a8e;
  --secondaryColor: #38bfa7;
  --secondaryShade5: #c8ede7;
  --secondaryShade4: #92dccf;
  --secondaryShade3: #6ed0be;
  --secondaryShade2: #33ae98;
  --secondaryShade1: #2e9d89;
}

#dark:checked ~ section a.button,
#dark:checked ~ section button {
  color: var(--foregroundColor);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#dark:checked ~ section a.link {
  color: var(--neutralShade2);
}

#dark:checked ~ section a.link:hover {
  color: var(--neutralShade1);
  border-bottom: 2px solid;
}

#dark:checked ~ section a.link.primary {
  color: var(--primaryShade4);
}

#dark:checked ~ section a.link.primary:hover {
  color: var(--primaryShade5);
}

#dark:checked ~ section .footer__section a {
  color: var(--neutralShade3);
}

#dark:checked ~ section .footer__section a:hover {
  color: var(--primaryShade4);
}

#dark:checked ~ section .legal-stuff,
#dark:checked ~ section .legal-stuff a,
#dark:checked ~ section .divider {
  border-color: var(--neutralShade6);
  color: var(--neutralShade4);
}

#dark:checked ~ section .legal-stuff a:hover {
  color: var(--neutralShade3);
}

/*TYPOGRAPHY*/
a {
  line-height: 2;
  color: var(--grayColor);
  text-decoration: none;
}
a:hover {
  color: var(--primaryColor);
}

strong {
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

h3 {
  font-weight: 600;
  font-size: 24px;
}

p {
  margin-block: 0.2rem 1rem;
  color: var(--grayColor);
}

.subscription-head {
  margin-bottom: 10px;
  color: var(--primaryShade5);
}

/* BUTTONS & LINKS */
a.link {
  font-weight: 500;
  color: var(--primaryColor);
}

a.link:hover {
  border-bottom: 2px solid;
}

a.button,
button {
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  line-height: 1;
  font-weight: 400;
  padding: 1rem;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--backgroundColor);
  position: relative;
  top: 0;
  transition: 0.2s ease;
}

a.button:hover,
button:hover {
  top: -3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

a.button.medium,
button.medium {
  padding: 1rem;
  width: auto;
}

a.button.secondary {
  background: var(--secondaryColor);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* INPUT */

input {
  font-size: 1rem;
  border: 2px solid var(--neutralShade3);
  width: 100%;
  padding: 11px;
  font-family: "Poppins";
  border-radius: var(--borderRadius);
  color: var(--foregroundColor);
  background: var(--backgroundColor);
}

input:focus {
  outline: none;
  border-color: var(--primaryColor);
}

input.variation {
  display: none;
}

input.variation + label {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-block: 12px 10px;
  border-radius: 30%;
  cursor: pointer;
  border: 3px solid #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*NAVBAR*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  box-shadow: 0 2px 8px -2px rgba(51, 51, 51, 0.2);
  background: var(--backgroundColor);
  border-radius: 10px;
}

nav i {
  font-size: 1.6rem;
  color: #d6d6d6;
  display: none;
}

.logo {
  font: clamp(20px, 6vw, 28px) "Poppins", sans-serif;
  font-weight: 600;
  color: var(--primaryColor);
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 480px) {
  nav i {
    display: block;
    margin-top: -10px;
  }

  .profile {
    display: none;
  }
}

/*GALLERY*/

.dog-info {
  margin-bottom: clamp(1rem, 6vw, 2rem);
  display: grid;
  gap: clamp(1rem, 4vw, 3rem);
}

.dog-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.6rem;
}

.dog-gallery__input {
  display: none;
}

.dog-gallery__input + label {
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.2s ease;
}

.dog-gallery__input + label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.dog-gallery__input:checked + label {
  box-shadow: 0 0 0 1.5px var(--neutralShade6), 0 6px 12px -6px var(--neutralShade7);
}

.dog-gallery__images {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  width: 100%;
  height: 640px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2px;
}

.dog-gallery__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
  position: absolute;
  top: 0;
  transform: translateY(500px);
  opacity: 0;
  transition: 0.5s ease;
}

#gallery-image-1:checked ~ .dog-gallery__images img:nth-child(1) {
  transform: translateY(0);
  opacity: 1;
}

#gallery-image-2:checked ~ .dog-gallery__images img:nth-child(2) {
  transform: translateY(0);
  opacity: 1;
}

#gallery-image-3:checked ~ .dog-gallery__images img:nth-child(3) {
  transform: translateY(0);
  opacity: 1;
}

#gallery-image-4:checked ~ .dog-gallery__images img:nth-child(4) {
  transform: translateY(0);
  opacity: 1;
}

.dog-manythings__more :last-child {
  margin-bottom: 0;
}

.dog-ask-about {
  width: 42%;
  margin: 0 auto;
}

@media (320px <=width <=520px) {
  .dog-gallery__images {
    height: 380px;
  }

  .dog-manythings {
    column-gap: 2rem;
  }

  .dog-ask-about {
    width: 100%;
  }
}

@media (min-width: 320px) {
  .dog-manythings {
    display: grid;
  }

  .dog-manythings__more {
    grid-column: span 2;
    margin-top: 1rem;
  }
}

@media (min-width: 820px) {
  .dog-info {
    grid-template-columns: 48% 1fr;
  }
}

/* SUBSCRIBE CARD */
.well-cta--form {
  display: grid;
  gap: 10px;
  padding: clamp(1rem, 6vw, 2rem);
  background: var(--primaryShade1);
  border-radius: 10px;
}

.well-cta--form__text p {
  color: var(--foregroundColor);
}

@media (min-width: 768px) {
  .well-cta--form {
    grid-template-columns: 1fr auto;
  }

  .well-cta--form__text {
    grid-column: span 2;
  }
}

/*FOOTER*/

/* Footer List */
.footer-list {
  display: grid;
  grid-template-columns: 1fr 60%;
  gap: 1rem;
  border-block: 0.5px solid var(--lightGrayColor);
  padding-block: clamp(1rem, 6vw, 3rem);
}

.footer-list-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (max-width: 1100px) {
  .footer-list {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .footer-list-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
  }
}

@media (max-width: 380px) {
  .footer-list-top {
    flex-direction: column;
    gap: 1rem;
  }
}

/* Legal Stuff */
.legal-stuff {
  display: grid;
  padding: 1rem;
  justify-content: center;
  text-align: center;
  color: var(--grayColor);
}

.legal-stuff a {
  text-decoration: underline;
}

.copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}
