/* PRESET */
:root {
   --canvasColor: #f9f9f9;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   list-style: none;
}

body {
   background: var(--canvasColor);
   font-family: "Poppins", sans-serif;
   font-weight: 300;
   line-height: 1.5;
   font-size: 16px;
   text-align: center;
   transition: all 0.3s ease;
   max-width: 1300px;
   margin: 0 auto;
}

/* THEMES */
main,
header,
footer {
   --neutralShade0: #f8f8f8;
   --neutralShade1: #f2f2f2;
   --neutralShade2: #e8e9e9;
   --neutralShade3: #d1d3d4;
   --neutralShade4: #babdbf;
   --neutralShade5: #808488;
   --neutralShade6: #666a6d;
   --neutralShade7: #4d5052;
   --neutralShade8: #212122;
   --grayColor: #999;
   --lightGrayColor: #ddd;
   --borderRadius: 6px;
   --boxShadow: 0 2px 5px rgba(#333, 0.2);
   text-align: left;
   color: var(--foregroundColor);
   background: var(--backgroundColor);
}

#bluepurple+label {
   background: linear-gradient(to left, #673ab7 50%, #03a9f4 50%);
}

#bluepurple:checked~header,
#bluepurple:checked~main,
#bluepurple:checked~footer {
   --backgroundColor: #fff;
   --foregroundColor: #111;
   --primaryColor: #03a9f4;
   --primaryShade1: #e1f5fe;
   --primaryShade2: #b3e5fc;
   --primaryShade3: #4fc3f7;
   --primaryShade4: #0288d1;
   --primaryShade5: #0277bd;
   --secondaryColor: #673ab7;
   --secondaryShade1: #ede7f6;
   --secondaryShade2: #d1c4e9;
   --secondaryShade3: #9575cd;
   --secondaryShade4: #512da8;
   --secondaryShade5: #311b92;
   --accentColor: #009688;
   --accentShade1: #e0f2f1;
   --accentShade2: #b2dfdb;
   --accentShade3: #4db6ac;
   --accentShade4: #00796b;
   --accentShade5: #004d40;
   --accent2Color: #8bc34a;
   --accent2Shade1: #e7f6d5;
   --accent2Shade2: #c5e1a5;
   --accent2Shade3: #aed581;
   --accent2Shade4: #689f38;
   --accent2Shade5: #558b2f;
}

#dark+label {
   background: linear-gradient(to right, #367bc3 50%, #38bfa7 50%);
}

#dark:checked~header,
#dark:checked~main,
#dark:checked~footer {
   --canvasColor: #2a313b;
   --backgroundColor: #2a313b;
   --foregroundColor: #ebe8d8;
   --primaryColor: #367bc3;
   --primaryShade5: #b5cfe9;
   --primaryShade4: #91b7de;
   --primaryShade3: #5a93cd;
   --primaryShade2: #3270b2;
   --primaryShade1: #285a8e;
   --secondaryColor: #38bfa7;
   --secondaryShade5: #c8ede7;
   --secondaryShade4: #92dccf;
   --secondaryShade3: #6ed0be;
   --secondaryShade2: #33ae98;
   --secondaryShade1: #2e9d89;
   --accentColor: #586994;
   --accentShade5: #d1d6e1;
   --accentShade4: #a3adc4;
   --accentShade3: #7684a7;
   --accentShade2: #49567a;
   --accentShade1: #39435f;
   --accent2Color: #8fe1a2;
   --accent2Shade5: #d6f4dd;
   --accent2Shade4: #c1eecc;
   --accent2Shade3: #a3e6b2;
   --accent2Shade2: #82cd94;
   --accent2Shade1: #76b985;
   color: #f1f2eb;
   border-color: #f1f2eb;
}

#dark:checked~header a.button,
#dark:checked~header input.button,
#dark:checked~header button,
#dark:checked~main a.button,
#dark:checked~main input.button,
#dark:checked~main button,
#dark:checked~footer a.button,
#dark:checked~footer input.button,
#dark:checked~footer button {
   color: var(--foregroundColor);
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#dark:checked~header a.link {
   color: var(--neutralShade2);
}

#dark:checked~header a.link:hover,
#dark:checked~header a.link.hover {
   color: var(--neutralShade1);
   border-bottom: 2px solid;
}

#dark:checked~header a.link.primary {
   color: var(--primaryShade4);
}

#dark:checked~header a.link.primary:hover,
#dark:checked~header a.link.primary.hover {
   color: var(--primaryShade5);
}

#dark:checked~header {
   border-bottom: 0.5px solid var(--neutralShade6);
}

#dark:checked~footer .footer__section a {
   color: var(--neutralShade3);
}

#dark:checked~footer .footer__section a:hover {
   color: var(--primaryShade4);
}

#dark:checked~footer .legal-stuff,
#dark:checked~footer .legal-stuff a,
#dark:checked~footer .divider {
   border-color: var(--neutralShade6);
   color: var(--neutralShade4);
}

#dark:checked~footer .legal-stuff a:hover {
   color: var(--neutralShade3);
}

#dark:checked~main .dog-manythings__more h3 {
   border-color: var(--neutralShade6);
}

/*TYPOGRAPHY*/
strong {
   font-weight: 500;
}

h1 {
   font: 700 clamp(36px, 6vw, 48px)/1.2 "Poppins", sans-serif;
   margin-bottom: 1rem;
}

h3 {
   font: 700 24px/1.2 "Poppins", sans-serif;
   margin-bottom: 10px;
}

h5 {
   font: 500 18px/1.2 "Poppins", sans-serif;
   margin-bottom: 10px;
}

/* BUTTONS & LINKS */
a {
   text-decoration: none;
   color: var(--foregroundColor);
}

a.link {
   display: inline;
   border-bottom: 2px dashed;
   font-weight: 500;
   line-height: 2.5;
   cursor: pointer;
   color: var(--neutralShade5);
}

a.link:hover,
a.link.hover {
   color: var(--neutralShade6);
   border-bottom: 2px solid;
}

a.link.primary {
   color: var(--primaryColor);
}

a.link.primary:hover,
a.link.primary.hover {
   color: var(--primaryShade5);
}

a.link.secondary {
   color: var(--secondaryColor);
}

a.link.secondary:hover,
a.link.secondary.hover {
   color: var(--secondaryShade5);
}

a.button,
input.button,
button {
   outline: none;
   width: 100%;
   text-align: center;
   display: inline-block;
   border: none;
   font: 500 16px/1 "Poppins", sans-serif;
   padding: 20px;
   cursor: pointer;
   border-radius: var(--borderRadius);
   background: var(--primaryColor);
   color: var(--backgroundColor);
   position: relative;
   top: 0;
   transition: 0.2s ease;
}

a.button:hover,
a.button.hover,
input.button:hover,
input.button.hover,
button:hover,
button.hover {
   top: -3px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

a.button.medium,
input.button.medium,
button.medium {
   padding: 15px 18px;
   width: auto;
}

a.button.secondary,
input.button.secondary,
button.secondary {
   background: var(--secondaryColor);
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* INPUT */
.input__wrapper {
   margin-bottom: 30px;
}

.label-form {
   font-weight: 500;
   display: block;
   margin-bottom: 5px;
}

input.input-form {
   height: 50px;
   font-size: 16px;
   border: 2px solid var(--neutralShade3);
   width: 100%;
   padding: 12px;
   font-family: "Poppins";
   border-radius: var(--borderRadius);
   color: var(--foregroundColor);
   background: var(--backgroundColor);
}

input.input-form:focus,
input.input-form.active {
   outline: none;
   border-color: var(--primaryColor);
}

input.variation {
   display: none;
}

input.variation+label {
   display: inline-block;
   width: 50px;
   height: 50px;
   margin: 20px auto;
   border-radius: 50%;
   cursor: pointer;
   border: 6px solid #fff;
   box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}

/*NAVBAR*/
header {
   border-radius: 10px 10px 0 0;
   position: relative;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   box-shadow: 0 2px 8px -2px rgba(51, 51, 51, 0.2);
   background: var(--backgroundColor);
   border-radius: 10px 10px 0 0;
}

nav i {
   font-size: 1.6rem;
   color: #d6d6d6;
   display: none;
}

.logo {
   font: 32px "Poppins", sans-serif;
   margin-left: 4px;
   font-weight: 900;
   color: var(--primaryColor);
}

.profile a {
   margin: 10px;
}

/*GALLERY*/
.dog-info {
   padding: 30px;
}

.dog-name {
   margin-block: 10px 0;
}

.dog-name a.button {
   margin: 20px 0;
}

.dog-gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-column-gap: 20px;
   grid-auto-flow: dense;
   margin-bottom: 50px;
}

.dog-gallery__input {
   display: none;
}

.dog-gallery__input+label {
   display: inline-block;
   width: 100%;
   height: 120px;
   margin: 20px auto;
   border-radius: 10px;
   cursor: pointer;
   overflow: hidden;
   transition: 0.2s ease;
}

.dog-gallery__input+label img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 0;
}

.dog-gallery__input:checked+label {
   box-shadow: 0 0 0 1.5px var(--neutralShade6), 0 6px 12px -6px var(--neutralShade7);
}

.dog-gallery__images {
   grid-column: 1 / -1;
   grid-row: 1 / 3;
   width: 100%;
   height: 480px;
   overflow: hidden;
   position: relative;
   border-radius: 10px;
}

.dog-gallery__images img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: 50% 0;
   position: absolute;
   top: 0;
   transform: translateY(500px);
   opacity: 0;
   transition: 0.5s ease;
}

#gallery-image-1:checked~.dog-gallery__images img:nth-child(1) {
   transform: translateY(0);
   opacity: 1;
}

#gallery-image-2:checked~.dog-gallery__images img:nth-child(2) {
   transform: translateY(0);
   opacity: 1;
}

#gallery-image-3:checked~.dog-gallery__images img:nth-child(3) {
   transform: translateY(0);
   opacity: 1;
}

#gallery-image-4:checked~.dog-gallery__images img:nth-child(4) {
   transform: translateY(0);
   opacity: 1;
}

.dog-manythings {
   line-height: 1.8;
}

.dog-manythings__stats p {
   color: var(--grayColor);
   text-transform: uppercase;
   font-size: 16px;
}

.dog-manythings__stats h5 {
   font: 500 18px/1.2 "Poppins", sans-serif;
   margin: 0 0 20px;
}

.dog-manythings__more {
   padding-top: 30px;
   margin: 30px 0;
}

.dog-manythings__more p {
   margin-bottom: 12px;
}

.dog-manythings__more strong {
   display: inline-block;
   margin-right: 8px;
}

.dog-manythings h3 {
   border-bottom: 0.5px solid var(--lightGrayColor);
   padding-bottom: 15px;
   margin: 0 0 30px;
}

@media (min-width: 768px) {
   .dog-info {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 30px;
      align-items: flex-start;
      grid-template-areas: "dog-name dog-name" "dog-gallery dog-manythings" "dog-askabout dog-manythings" ". dog-manythings";
   }

   .dog-name {
      grid-column: 1 / span 2;
      display: grid;
      grid-template-columns: auto max-content;
      align-items: center;
      grid-area: dog-name;
   }

   .dog-gallery {
      grid-area: dog-gallery;
      margin: 0;
   }

   .dog-gallery__input+label {
      height: 110px;
      margin-bottom: 0;
   }

   .dog-gallery__images {
      grid-row: 1 / 2;
   }

   .dog-askabout {
      grid-area: dog-askabout;
   }

   .dog-manythings {
      grid-area: dog-manythings;
      margin-left: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(180px, 50%));
      grid-gap: 10px;
   }

   .dog-manythings__more {
      grid-column: 1 / span 2;
      margin: 10px 0;
   }
}

@media (max-width: 480px) {
   .dog-info {
      padding: 1rem;
   }

   .dog-gallery {
      grid-column-gap: 0.4rem;
   }

   .dog-gallery__input+label {
      margin: 0.4rem auto;
   }
}

/* SUBSCRIBE CARD */
.well-cta--form {
   display: grid;
   grid-gap: 10px;
   padding: 30px;
   background: var(--primaryShade1);
   border-radius: 10px;
}

.well-cta--form__text {
   margin-bottom: 10px;
}

.well-cta--form h3 {
   color: var(--primaryShade5);
}

@media (min-width: 768px) {
   .well-cta--form {
      grid-template-columns: 1fr auto;
   }

   .well-cta--form__text {
      grid-column: span 2;
   }
}

/*FOOTER*/
footer {
   grid-template-columns: repeat(2, 1fr) 50%;
   padding: 30px 30px 0;
   grid-template-areas: "divider divider divider" "about adopt subscribe" "social social subscribe" "legal legal legal";
   text-align: start;
}

.subscription {
   margin: 2em 0;
   grid-area: subscribe;
}

.divider {
   grid-area: divider;
   text-align: center;
   margin-bottom: 3em;
   position: relative;
   border-top: 0.5px solid var(--lightGrayColor);
}

.footer__section {
   margin: 2em 0;
}

.footer__section li a {
   padding: 5px 0;
   display: block;
   color: var(--grayColor);
}

.footer__section li a:hover {
   color: var(--primaryColor);
}

.footer__section p {
   font-weight: 600;
   font-size: 18px;
   margin-bottom: 10px;
}

.about-list {
   grid-area: about;
}

.adopt-list {
   grid-area: adopt;
}

.legal-stuff {
   grid-area: legal;
   padding: 1rem;
   text-align: center;
   margin-top: 50px;
   border-top: 0.5px solid var(--lightGrayColor);
   color: var(--neutralShade5);
}

.legal-stuff span a {
   margin: 0 10px;
   color: var(--neutralShade5);
   text-decoration: underline;
}

.legal-stuff a:hover {
   color: var(--secondaryColor);
}

@media (min-width: 992px) {
   footer {
      display: grid;
   }

   .legal-stuff br {
      display: none;
   }

   .subscription,
   .footer__section {
      margin: 0;
   }
}

@media (max-width: 480px) {

   input.variation+label {
      margin: 10px auto;
      width: 40px;
      height: 40px;
      border: 3px solid white;
   }

   header {
      margin-inline: 1rem;
   }

   main {
      background: var(--canvasColor);
   }

   nav {
      border-radius: 0.8rem;
   }

   nav i {
      display: block;
      margin-top: -10px;
   }

   .logo {
      font-size: 1.8rem;
   }

   .profile {
      display: none;
   }


   footer {
      padding: 1rem;
   }
}